.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




/* nav styles */
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 150px;
    
}
.nav-tittle{
    font-weight:900 ;
    font-size: 34px;
   
}
nav ul li{
    list-style: none;
}
/* shared */
.dark2{
     color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    /* padding:20px; */
    height: 48px;
    width: 132px;
    border: none;
    border-radius: 10px ;
position:1008px 51.5px;
justify-content: center;
cursor: pointer;

}
.banner h1 {
    font-size: 60px;
    font-weight: bold;
    color: #252432;
}
h1{
    margin: 100px;
    text-align: center;
}
.btn{
    background-color: #4E47FF;
   
    
}
nav .btn-primary:hover{
    background-color: pink;

}
.header{
    background-image: url(Assets/Hero-bg.png);
      background-position: top left, bottom right;
      width: 100%;
      height: 600px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  height: 100vh; 
}

.centered-button {
  display: inline-block; 
  padding: 10px 20px;
  background-color: #4E47FF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.centered-button:hover{
    background-color: beige;
}



  /* Manin */
  .contain-container{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
  }
  .section-head{
    font-size: 42px;
    font-weight: bold;
    padding-top: 50px;
    color: #252432;
  }
.section-title{
    font-size: 24px;
    font-weight: 400px;
   border-radius: 5px;
   color: #252432;
    
}
.image{
    width: 300px;
    padding-top:  100px;
    border-radius: 60px ;
}
.stats{
  background-color: #a4a1dc ;
   padding:  10px 200px  ;
   border-radius: 10px;
}
.productive-users {
   background-color: #f5f7fa; 
  text-align: center;
  padding: 50px 20px;
 
  justify-items: center;
 
  
}
 
img{
  border-radius: 20px;
}

.productive-user  {
  background-color:#f5f7fa; 
  text-align: center;
  padding: 50px 20px;
  justify-items: center;
  justify-content: center;
} 

 .user-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding:  10px 200px  ;
  flex-wrap: wrap;
  
} 
.last-container{
  background-color: white;
  height: 591px;
  width: auto;
padding:  10px 200px  ;
}
 

.stat-block h3 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 10px;
  color: #4E47FF;
}

.stat-block p {
  font-size: 1rem;
  color: #7f8c8d;
}

 .user-feedback {
 
   
  display: flex;
   justify-content: center; 
  align-items: center;
   gap: 50px;
} 
 .block {

  background-color:white;
   padding: 20px; 
  border-radius: 8px;
 
 width: 250px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} 
.user-footer{
  display: flex;
  align-items: center;
  gap: 5px;
} 
.user-image{
 height: 36px;
    width: 32px;
    border-radius: 20px;
}
.user-name {
   
    width: 137px;
    height: 67px;
    font-size: 12px;
   text-align: left ;
}



/* footer */
footer{
    width: 100%;
    height: 200px;
    
    align-items: center;
    justify-items: center;
    
   
}

.footer-logo{
    color:#4E47FF ;
    font-size: 100px;
    font-weight: 900px;
    padding-top:10px ;

}

 
 
.footer-nav,a {
    color: (137, 135,161,1 );
    text-decoration: none;
    align-items: center;
    gap: 20px;
    padding: 10px;
}


.newslatter-h2{
   
    font-size: 100px;
    font-weight: bold;

}
.news-group{
   
    margin: 20px;
    
}
.news-group label{
    font-size: 18px;
    font-weight: 500;
}
.news-group input{
 font-size: 18px;
    font-weight: 500;
  
} 
textarea,textarea::placeholder{
    font: 18px ;
}
.newslatter-section{
  display: flex;
 justify-content:space-around;
  align-items: center ;
  background-color: #f5f7fa;
  height: 500px;
}
input{
width: 400px;
 padding: 5px;
 border-radius: 10px;
 
}
.contact-submit-btn{
 padding: 10px 189px;
 background-color: blue;
 color: white;
 border-radius: 10px;
}
textarea{
  width: 400px;
  height: 70px;
}